body{
    box-sizing: border-box;
    padding:0;
}

.flex-container-3{
    display: flex;
    flex-direction: row;
    height: 1600;
    flex-basis: 1600;
}

.col-1{
    display: flex;
    flex-direction: row;
    flex-basis: 300px;
    width: 1600px;
    flex-shrink: 0;
    flex-grow: 0;
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    height: 1600px;
    flex-shrink: 1;
    flex-grow: 1;
}

.header{
    flex-basis: 300px;
    height: 300px;
    flex-shrink: 0;
    flex-grow: 0;
}

.main{
    display: flex;
    flex-basis: auto;

}

article{
    flex-basis: 70%;
    height: 1100px;
    flex-shrink: 1;
    flex-grow: 1;

}

aside{
    display: flex;
    flex-basis: 30%;
    height: 1100px;
    flex-shrink: 0;
    flex-grow: 0;
}

.footer{
    display: flex;
    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 0;
}